{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .table-margin { margin-top: 20px; margin-bottom: 15px; }
        .navigation { float: none; margin: 0 auto; }
        .table td { vertical-align: middle; }
    </style>
    <div class="row table-margin">
        <table class="table text-center">
        <thead>
            <tr class="active">
                <th class="text-center">Categoría</th>
                <th class="text-center">Autor</th>
                <th class="text-center">Título</th>
                <th class="text-center">Texto</th>
                <th class="text-center">Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts|slice(0, number_items) %}
                <tr>
                    <td>{{ post.category.name }}</td>
                    <td>{{ post.author.name }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.content|slice(0, 100) }}... <a href="{{ path('post.show', {id: post.id}) }}">Leer más</a></td>
                    <td>{{ post.publishedAt|date('d-m-Y') }}</td>
                </tr>
                
            {% endfor %}
        <tbody>
        </table>

        <div class="row navigation">
            {{ knp_pagination_render(posts) }}
        </div>

    </div>
{% endblock %}